*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body{
  font-family: 'Raleway', sans-serif;
}
.s-container{
  margin: 0 auto;
  max-width: 900px;
  overflow: hidden;
}
.p-container{
  margin:  0 auto;
  max-width: 700px;
  overflow: hidden;
}
/* utilities */
a{
  color: black;
  text-decoration: none;
}
.m-t1{margin-top: 1rem;}
.m-t2{margin-top: 2rem;}
.m-t3{margin-top: 3rem;}
.m-t4{margin-top: 4rem;}
.m-t5{margin-top: 5rem;}
.m-t5-2{margin-top: 6rem;}
.m-t6{margin-top: 12rem;}
.m-t7{margin-top: 14rem;}
.m-t8{margin-top: 16rem;}
.btn{
  display: inline-block;
  background-color: black;
  color: #fff;
  padding:0.7rem 3rem;
  font-weight: bold;
}
.headings{
  font-size: 2.5rem;
  font-weight: normal;
}

/* header section navbar  */
#main .navbar{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
#main .navbar .logo img{
  max-width: 150px;
}
#main .navbar{
  padding: 1rem;
}
#main .navbar ul{
  display: flex;
  list-style: none;
  font-size: 1.2rem;
  align-items: center;
}
#main .navbar .menu-wrap{
  display: none;
}
#main .navbar ul li a{
  margin: 2rem 3rem 2rem 2rem;
  padding:0.2rem;
  font-weight: 600;
}

#main .navbar ul li a:hover{
  background-color: black;
  color: #fff;
  border-radius: 3px;
}
#main .navbar ul li a i{
  padding: 10px 0px 10px 25px;
}
#main .navbar ul li:nth-child(4){
  border: 2px solid black;
  padding: 4px 8px 4px 8px;
}
.burger img{
  height: 1rem;
  width: 1rem;
  display: none;
}
/* header section showcase */
.showcase{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 1rem;
}
.showcase .left-showcase{
  width: 50%;
}
.showcase .left-showcase h2{
  font-weight: bolder;
  font-size: 2.8rem;
}
.showcase .left-showcase h3{
  font-size: 1.8rem;
}
.showcase .left-showcase a:hover{
  background-color: #fff;
  color: black;
  border: 1px solid black;
}
.showcase .right-showcase{
  width: 50%;
}
.showcase .right-showcase img{
  height: 37rem;
  position: relative;
  left: -8rem;
  z-index: -1;
}
/* section1 leverage talent */
.leverage .section1-main-div{
   display: flex;
   justify-content: center;
   align-self: center;
   align-items: center;
}
.leverage{
  padding: 1rem;
}
.leverage h2{
  text-align: center;
}
.leverage  .section1-a {
  display: flex;
  justify-content: space-between;
}
.leverage  .section1-a a{
  font-size: 1.5rem;
  color: gray;
  opacity: 50%;
  height: 3rem;
  font-weight: bold;
}
.leverage  .section1-a a:hover{
  color: black;
  opacity: 100%;
  border-bottom: 2px solid black;
  padding-bottom: 1rem;
}
.leverage .section1-main-div  .section1-right-div img{
  height: 8rem;
  position: relative;
  top: -44px;
  left: 80px;
}
.section1-main-div  .section1-right-div{
  width: 50%;
}
.section1-main-div  .section1-left-div{
  width: 50%;
}
.section1-main-div  .section1-left-div a:hover{
  background-color: #fff;
  color: black;
  border: 1px solid black;
}
/* section about */
.about h2{
  text-align: center;
}
.about p{
  font-size: 1.4rem;
  text-align: center;
}
.augusttena{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}
.augusttena span{
  font-weight: bold;
}
.augusttena img{
  width: 17rem;
}
/* contact */
.contact p{
  font-size: 1.4rem;
}
.contact h2,.contact p{
  text-align: center;
}
.contact form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.contact form input{
  width: 30rem;
  height: 3rem;
  background-color:  #f4f4f4;
  padding: 0rem 1.3rem;
  border-radius: 0.5rem;
  border: none;
}
.contact form textarea{
  width: 30rem;
  height: 8rem;
  background-color: #f4f4f4;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
  border: none;
}
.contact a{
  margin: 3rem auto;
  background-color: #fff;
  color: black;
  border:1px solid black;
  font-size: 1.5rem;
  font-weight: bold;
}
.contact a:hover{
  background-color:black;
  color: #fff;
}
.contact form ::-webkit-input-placeholder { 
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
  color: #dad6d6;
}
.collaboration h2,.collaboration p{
  text-align: center;
}
.collaboration img{
  max-width: 720px;
}
.collaboration p{
  font-size: 1.1rem;
}
/* footer  */
.footer .footermain{
  display: flex;
}
.footer{
  padding: 1rem;
}
.footer .footermain .footer-main-left,.footer-main-right{
  display: flex;
  flex-direction: column;
}
.footer .footermain h3{
  width: 7rem;
  border-bottom: 1px solid black;
  padding: 0 1rem 1rem 0rem;
  font-weight: 700;
}
.footer .footermain p{
  margin: 4rem 7rem 6rem 0rem;
}
.second-main{
  display: flex;
  flex-direction: column;
}
.second-main .second-main-col1,.second-main-col2{
  display: flex;
}
.second-main p{
  padding-left: 1rem;
}
.second-main + p{
  text-align: center;
  margin-bottom: 1rem;
}
.footer .see{
  font-weight: 300;
}
