.btn{
  padding:0.2rem 2rem;
  font-weight: bold;
}
.headings{
  font-size: 1.9rem;
}
#main .navbar .menu-wrap{
  display: block;
}
#main .navbar .main-ul{
  display: none;
}
#main .navbar{
  padding: 1rem;
}
.burger img{
  height: 2rem;
  width: 2rem;
  display: block;
}
.showcase .left-showcase{
  width: 100%;
 text-align: center;
}
.showcase .left-showcase h2{
  font-size: 2.5rem;
}
.showcase .right-showcase{
 display: none;
}
.leverage{
  padding: 1rem;
}
.footer .footermain p{
  margin: 4rem 4rem 6rem 0rem;
}
.collaboration img{
  max-width: 590px;
  margin: 5rem 5rem 0rem 1.5rem;
}
.collaboration p{
  font-size: 1rem;
}
.footer{
  padding: 1rem;
}

/* menu bar css */

:root{
  --primary-color:rgba(13,110,139,0.75);
  --secondary-color:rgba(229,148,0,0.9);
  --overlay-color:rgba(24,39,51,0.85);
  --menu-speed:0.75s;
}
#main .navbar .menu-wrap{
  position: relative;
  top: 0;
  z-index: 1;
}
.menu-wrap .toggler{
  position:relative;
  top: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.menu-wrap .hamburger{
  position:absolute;
  top: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* hamburger line */
.menu-wrap .hamburger > div{
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease; 
}
/* hamburger line top and bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after{
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
/* moves lines down */
.menu-wrap .hamburger > div::after{
  top: 10px;
}
/* togler animation */
.menu-wrap .toggler:checked + .hamburger > div{
  transform: rotate(135deg);
}
/* turn into lines X */
.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after{
  top: 0;
  transform: rotate(90deg);
}
/* rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div{
  transform: rotate(225deg);
}
/* show menu */
.menu-wrap .toggler:checked ~ .menu{
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div{
  transform: scale(1);
  transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div{
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;

}
.menu-wrap .menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu > div{
  background: var(--overlay-color);
  width: 300vw;
  height: 300vw;
  border-radius: 50%;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}
.menu-wrap .menu > div >div{
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li{
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li > a{
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li > a:hover{
 color: var(--secondary-color);

}
#main .navbar ul{
  display: flex;
 flex-direction: column;
 line-height: 5rem;
}
#main .navbar ul li:nth-child(4){
  border: none;
  padding: 4px 8px 4px 8px;
}
#main .navbar ul li:hover{
  border: 2px solid black;
  padding: 4px 8px 4px 8px;
}